*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    outline: none;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    padding: 1rem;
}.card{
    background-color: #222;
    color: white;
    padding: 2rem;
    min-height: 80vh;
    width: 50%;
    overflow: auto;
    border-radius: 0.6rem;
}

.card-title{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

input{
    border: none;
    border-radius: 0.6rem;
    padding: 0.5rem;
    width: 80%;
}

.btn{
    border: none;
    border-radius: 0.6rem;
    padding: 0.5rem;
    background-color: orange;
    color: white;
    transition: all 0.3s;
    cursor: pointer;

}
.btn:hover{
    background-color: white;
    color: black;
}
.li-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: .5rem;
    border-radius: .6rem;
    margin: 1rem 0;
    transition: all .1s;
}

.li-style:hover{
    background-color: #111;
}

.bg-success{
    margin: 0.5rem 0;
    padding: .5rem;
    color: black;
    background-color: #ddffdd;
    border-left: 6px solid #04aa6d;
}
.bg-danger{
    margin: 0.5rem 0;
    padding: .5rem;
    color: black;
    background-color: #ddffdd;
    border-left: 6px solid #f44336;
}